{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{ asset(project.imageOrPlaceholder) }}" alt="{{ project.name }}" class="img-fluid">
            </div>
            <div class="col-8">
                <h1>{{ project.name }}</h1>
                {# TODO: Afficher le nom prénom de la personne ayant proposée le projet #}
                <ul class="badges">
                    {% for category in project.categories %}
                        <li><a href="{{ path('category_show', {'id': category.id}) }}" class="badge badge-pill badge-primary">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                <p>{{ project.description }}</p>
            </div>
        </div>
        <div class="goal">Objectif : {{ project.goal }}€</div>
        <div class="progress">
            {# TODO: Affichage dynamique de la progressbar #}
            <div class="progress-bar bg-info" style="width: 18%">1000€</div>
        </div>
        <form>
            <div class="form-group">
                {# TODO: Faire fonctionner le formulaire d'ajout d'une contribution #}
                <input type="number" value="10" placeholder="Montant">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-money"></i>
                    Je donne !
                </button>
            </div>
        </form>
        {# TODO: Afficher la liste des contributions #}
    </div>

{% endblock %}
